<!DOCTYPE html>
<html>
    {include file="common/head"/}
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            .news{padding:.45rem; line-height:.6rem; color:#333;}
            .title{
                font-size:.5rem;
                text-align:center;
            }
            .data{ text-align:center; color:#999999; font-size:.3rem; margin-bottom:.3rem;}
            .content{ font-size:.35rem;}
            .content p{ margin-bottom:.3rem;}
        </style>
    </head>

    <body class="news">
        <div class="content">
            <p>关于我们-图文混排即可。新重庆客户端讯中秋小长假和国庆长假即将到来，不少市民都在计划假期出游。为预防道路交通事故，10日，重庆市公安局交巡警总队收集整理了近期交通事故的典型案例，希望广大交通参与者提高交通安全意识，以此为戒，严格遵守交通法规，安全文明出行。</p>
            <p><strong><img src="__STATIC__/bee/img/ban01.jpg"></strong></p>
            <p>8月21日，在璧山大成广场，一小孩突然从街边跑出横穿马路，被路过的车辆撞倒，所幸当时车速不快，小孩只轻微受伤。</p>
            <p>交巡警提醒，过马路时，家长一定要照看好孩子，特别是低龄儿童，一定要牵手通过，以免发生意外；孩子的安全交通常识需要家长从小培养；司机驾车通过人流车流密集区或两侧有遮挡的位置时，一定要仔细观察，谨慎驾驶。</p>
        </div>
    </body>
</html>